* {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: small;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.p-button {
    background-color: #006091;
    border: none;
}