* {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: small;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

.p-button {
    background-color: #006091;
    border: none;
}

.pi-chevron-down::before {
    font-size: 10pt;
}

.p-inputtext-sm,
.p-dropdown,
.p-inputtext-sm .p-inputtext,
.p-inputtext.p-inputtext-s,
.p-dropdown-filter {
    height: 15pt;
    font-size: 9pt;
}

.p-dropdown-label {
    display: flex;
    align-items: center;
}

.p-button.p-button-outlined {
    border: 1px solid #006091;
    background-color: transparent;
    color: #006091;
}

.p-button.p-button-outlined:hover {
    border: 1px solid #006091;
    background-color: green;
    color: #006091;
}

.field {
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 0;
}

.p-datatable td {
    font-size: smaller;
    font-weight: 550;
}

.p-datatable .p-datatable-thead>tr>th {
    padding: 7px;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 5px;
}

.p-card .p-card-body {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.p-sidebar-header {
    display: none
}

.grid>div {
    padding-bottom: 0.3rem;
    padding-top: 0.2rem;
}

.grid>div>.p-inputtext-sm>input,
.grid>div>.p-inputtext-sm,
.grid>div>input,
.grid>div>.p-inputnumber,
.grid>div>.p-dropdown,
.grid>div>.p-inputnumber>input,
.grid>div>label {
    font-size: 9pt;
}

.p-datatable .p-datatable-header {
    padding: 0.3rem;
}